Package: madebits-ddetach
Version: 1.0.0
Architecture: all
Maintainer: Vasian <no@email.com>
Section: utils
Priority: optional
Depends: zenity (>= 3.8.0), udisks (>= 1.0.5)
Homepage: http://madebits.com
Description: Unmount and Poweroff External Volumes (GUI)
 http://madebits.com
